[Unit]
Description=astrotelemetry
After=multi-user.target

[Service]
Type=idle
User=case
ExecStart=/usr/bin/python3 /home/case/Projects/astrotelemetry/reporter/astrotelemetry.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
